addict==2.4.0
affine==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
appdirs==1.4.4
attrs==25.3.0
certifi==2026.1.4
cffi==1.17.1
charset-normalizer==3.4.4
cityscapesScripts==2.2.4
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
coloredlogs==15.0.1
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
contourpy==1.1.1
crcmod==1.7
cryptography==46.0.3
cycler==0.12.1
Cython @ file:///D:/bld/cython_1722872441675/work
emoji @ file:///home/conda/feedstock_root/build_artifacts/emoji_1728044793673/work
et_xmlfile==2.0.0
fairscale==0.4.13
filelock==3.14.0
Fiona==1.9.4.post1
fire==0.7.1
fonttools==4.57.0
fsspec==2025.3.0
geopandas==0.13.2
humanfriendly==10.0
idna==3.11
imagecorruptions==1.1.2
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.6
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
kiwisolver==1.4.7
lazy_loader==0.4
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mmcv==2.1.0
mmdet @ file:///E:/LYJ/DL/mmdetection-main
mmengine==0.10.7
model-index==0.1.11
mpmath==1.3.0
networkx==3.1
numpy @ file:///D:/bld/numpy_1687808486521/work
opencv-python==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.5
openxlab==0.1.3
ordered-set==4.1.0
oss2==2.17.0
packaging==25.0
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
psutil==7.2.1
pybboxes==0.1.6
pycocotools==2.0.7
pycparser==2.23
pycryptodome==3.23.0
Pygments==2.19.2
pyparsing==3.1.4
pyproj==3.5.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.15.0
pyquaternion==0.9.9
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2023.4
PyWavelets==1.4.1
pywin32==311
PyYAML==6.0.3
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
rasterio==1.3.11
regex==2024.11.6
requests==2.28.2
rich==13.4.2
rioxarray==0.13.4
sahi==0.11.36
scikit-image==0.21.0
scikit-learn @ file:///D:/bld/scikit-learn_1701932176471/work
scipy @ file:///C:/bld/scipy_1637806857964/work
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
snuggs==1.4.7
sympy==1.13.3
tabulate==0.9.0
termcolor==2.4.0
terminaltables==3.1.10
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1707930541534/work
tifffile==2023.7.10
tomli==2.4.0
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.67.1
typing==3.7.4.3
typing_extensions==4.13.2
tzdata==2025.3
urllib3==1.26.20
xarray==2023.1.0
yapf==0.43.0
zipp==3.20.2
